<html>
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <title>Contact List</title>

</head>

<body>

    <h1>Address Book</h1>
    <div class="container">

    {% if contacts is not empty %}
      <h2>Here are your contacts:</h2>
      <ul>
        {% for contact in contacts %}
          <li>{{ contact.getName() }}</li>
          <ul>
            <li>{{ contact.getAddress() }}</li>
            <li>{{ contact.getNumber() }}</li>
            <li>{{ contact.getEmail()  }}</li>
          </ul>
        {% endfor %}
     
        {% endif %}
       </ul>

    <h3>Add a contact to your list:</h3>
</div>

<div class="container">
    
<form action="/create_contact" method="post">
      
<div class="form-group">
        <label for='name'>Name:</label>
        <input id='name' name='name' type='text' required>

        <label for='address'>Address:</label>
        <input id='address' name='address' type='text' required>

        <label for='number'>Phone Number:</label>
        <input id='number' name='number' type='text' required>

        <label for='email'>Email Address:</label>
        <input id='email' name='email' type='text'>

        <button type='submit' class="btn-success">Add this contact</button>
        </div>
    
</form>

<form action='/deleted_contacts' method='post'>
        <button type='submit' class="btn-success">Clear <b>ALL</b> contacts.</button>
</form>

</div>

</div>
</body>
</html>