<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Add new contact</title>
</head>
<body>
    <h1>You added a new contact, nice!!!</h1>
    <ul>
      <li>{{ newcontact.getName }}</li>
      <li>{{ newcontact.getAddress }}</li>
      <li>{{ newcontact.getNumber }}</li>
      <li>{{ newcontact.getEmail }}</li>
    </ul>
  </br>
    <p><a href='/'>View your full address book</a></p>
</body>
</html>